.col-md-6 {
    padding-right: 0px !important; 
    padding-left: 0px !important;
}

.violationImg {
    margin-left: 22px; 
    width: 130px; 
    height: 80px;
}

.notifyImg {
    margin-top: 25px;
}