 <app-header></app-header>
 <div class="container-fluid">
    <div class="row">
        <div class="col-md-6 nopadding">
            <div class="bg-left-02">
                 <img src="../../assets/images/login-logo.png" class="bg-logo-register" alt="">
            </div>
        </div>
        <div class="col-md-6 nopadding">
            <div class="right-content w-90">
              <div class="row">  
                  <div class="col-md-2 md-2">
                     <a (click)="backToRewards()">
                        <img src="../../assets/images/icons/back-icon.png" alt="" style="cursor: pointer;">
                    </a> 
                  </div> 
                  <div class="col-md-2 md-3">
                    <img src="../../assets/images/rewards-icon.png" alt="">                 
                </div>  
                <div class="col-md-3 md-4">
                    <h4>{{ rewards }} Pts</h4>
                    <h6>Total Rewards </h6>           
                </div> 
                <div class="col-md-5 md-5">
                    <button class="btn btn-info redeem">Redeem</button>      
                </div>                  
                </div>
                <hr>
                <div class="row justify-content-center">
                    <div class="img-rewards" style="margin-top: 40px;">
                        <img src="../../assets/images/rewards.png" alt="">
                        <h4 style="text-align: center;"><span style="color: #2490BA;">Stay Tuned <br> to get </span> <span style="color: #FFC001;">Rewarded</span>  </h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="footer">
                    <h6>Powered by Ojas Innovative Technologies</h6>
                </div>
            </div>
        </div>   
    </div>
</div>  
