<div>
    <app-header></app-header>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 nopadding">
            <div class="bg-left-02">
                <img src="../../assets/images/login-logo.png" class="bg-logo-register" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="right-content">
                <div class="row rc-c">
                    <div class="col-md-8 md-122">                        
                        <h4 style="color: #2490BA;">Change Password</h4><br>                   
                        <form [formGroup]="changePasswordForm">
                            <div class="form-row">
                                <div class="col-md-12 form-group">
                                    <label>Current Passwword </label>
                                    <input type="password" class="form-control" placeholder="Current Passwword" 
                                    formControlName="oldPassword" [ngClass]="{ 'is-invalid': f.oldPassword.touched && f.oldPassword.errors }">
                                    <div *ngIf="f.oldPassword.touched && f.oldPassword.errors" class="invalid-feedback">
                                        <div *ngIf="f.oldPassword.errors.required">Current Password is required</div>
                                        <div *ngIf="f.oldPassword.errors.minlength || f.oldPassword.errors.maxlength || f.oldPassword.errors.pattern">
                                            Please enter current password
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12 form-group">
                                    <label>New Password</label>
                                    <input type="password" class="form-control" placeholder="New Password" 
                                    formControlName="newPassword" [ngClass]="{ 'is-invalid': f.newPassword.touched && f.newPassword.errors }">
                                    <div *ngIf="f.newPassword.touched && f.newPassword.errors" class="invalid-feedback">
                                        <div *ngIf="f.newPassword.errors.required">New Password is required</div>
                                        <div *ngIf="f.newPassword.errors.minlength || f.newPassword.errors.maxlength || f.newPassword.errors.pattern">
                                            Password should contain 8 characters includes one lowercase, uppercase and a digit
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 form-group">
                                    <label>Confirm Password</label>
                                    <input type="password" class="form-control" placeholder="Confirm Password" 
                                    formControlName="confirmNewPassword" [ngClass]="{ 'is-invalid': f.confirmNewPassword.touched && f.confirmNewPassword.errors }">
                                    <div *ngIf="f.confirmNewPassword.touched && f.confirmNewPassword.errors" class="invalid-feedback">
                                        <div *ngIf="f.confirmNewPassword.errors.required">Confirm password is required</div>
                                        <div *ngIf="f.confirmNewPassword.errors.mustMatch">Passwords must match</div>
                                    </div>                             
                                </div>
                                <div class="col-md-12 form-group">
                                    <button type="button" class="btn btn-info btn-sm registration" (click)="changePassword()"
                                    [disabled]='!changePasswordForm.valid'>Update</button>
                                    &nbsp;&nbsp;
                                    <button type="button" class="btn btn-primary btn-sm backBtn" (click)="backToHome()">Back</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
