.headerLogo {
    margin-right: auto;
    height: 55px;
    width: 55px;
    margin-left: 15px;
    cursor: pointer;
}

.links {
    padding: 7px 20px 0px 0px;
    color: #17a2b8;
    cursor: pointer;
}

.cursor {
    color: black;
}

.list-group {
    height: auto;
}

.headerImg {
    height: 15px; 
    margin-right: 5px;
}