<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 nopadding">
            <div id="demo" class="carousel slide" data-ride="carousel">
                <ul class="carousel-indicators">
                  <li data-target="#demo" data-slide-to="0" class="active"></li>
                  <li data-target="#demo" data-slide-to="1"></li>
                  <li data-target="#demo" data-slide-to="2"></li>
                </ul>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../../assets/images/login-logo.png" class="logohead">
                    <img src="../../assets/images/dashboard.png" alt="" width="1100" height="500">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/images/bg-login.png" alt="" width="1100" height="500">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/images/violation.png" alt="" width="1100" height="500">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
        <div class="col-md-6 nopadding">
            <div class="right-content">
                <div class="row" style="margin-top: 10%;">
                    <div class="col-md-5">
                        <div class="box-01 bx-1">
                            <div class="upload-btn-wrapper">
                                <label> <img src="../../assets/images/upload-icon.png" alt="" class="uploadImg">
                                    <input type="file" size="60" (change)="onSelectFile($event)" accept=".png, .jpg, .jpeg">
                                </label> 
                            </div>
                            <h6 style="color: #052840cc;">Upload the image <br> from your desktop</h6><br>
                                <img *ngIf="!usreImage" src="../../../assets/images/car.png" alt="" class="edth"><br>
                                <img *ngIf="usreImage" src="{{ image }}" alt="" class="edth userImg"><br>
                                
                                <form [formGroup]="dateLocationForm">
                                    <div class="form-group">
                                        <img src="../../assets/images/icons/clock-01.png" alt="" class="margin-h dateTime">
                                        <input [owlDateTime]="dt1" [max]="maxDate" [owlDateTimeTrigger]="dt1" placeholder="Select Date and Time" readonly
                                        class="dateLocation" formControlName="violationDate">
                                        <owl-date-time #dt1></owl-date-time>
                                    </div>
                                    <div class="form-group">
                                        <img src="../../assets/images/icons/location.png" alt="" class="margin-h dateTime">
                                        <input type="text" placeholder="Enter address of violation" class="dateLocation" formControlName="location">
                                    </div>
                                </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let violation of violationData; let i = index;"> 
                                <img src="{{ violation.image }}" alt="">&nbsp; {{ violation.name }}
                                <span class="custom-control custom-radio cst-r">
                                    <input type="radio" class="custom-control-input" id="{{ violation.violationTypeId }}"
                                     name="groupOfDefaultRadios" (change)="getViolationData(violation)">
                                    <label class="custom-control-label" for="{{ violation.violationTypeId }}">
                                    </label>
                                </span>
                            </li>
                        </ul>
                        <button class="btn btn-info post" (click)="postViolation()" [disabled]="!usreImage ||
                        dateLocationForm.get('violationDate').value == '' || dateLocationForm.get('location').value == '' || isDisabled">Post</button>
                    </div>
                </div><br>
                <div class="row">
                    <div class="footer">
                        <h6>Powered by Ojas Innovative Technologies</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--- violation success popup -->

<div class="modal md-11" id="successPopup">
    <div class="modal-dialog modal-sm modal-dialog-scrollable" style="max-width: 350px;">
        <span class="pop"><img src="../../assets/images/popup.png" alt="" class="model-img"></span>
        <div class="modal-content mc-r">
            <div class="modal-body">
                <h6>Violation Posted Sucessfully</h6>
                <p style="font-size: 13px;">Please View Your Posted<br> Violations In Violation Section<br> In Dashboard</p>
                <button type="button" class="btn btn-info" style="margin-bottom: 10px;" (click)="goToViolations()">Go to Violations</button>
            </div>
        </div>
    </div>
</div>

<!-- End -->